---
import { Seo } from 'astro-seo-meta';

import { articlesLoader } from '../loaders';
import Article from '../components/Article.astro';

const articles = await articlesLoader();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <Seo
      title="The Tap stack"
      description="An opinionated stack for those who want to live on the edge (Typescript + Astro + Prisma + Planet scale)"
      icon="favicon.ico"
    />
  </head>
  <body class="bg-[#080b16]">
    <section class="flex flex-col p-24 px-48">
      <div class="space-y-3 mb-12">
        <h2 class="text-xl font-light leading-none text-white">Latest posts</h2>
        <p class="text-[#707070] text-xs">By Astro</p>
        <hr
          class="border border-dotted border-b-transparent border-x-transparent border-white/10"
        />
      </div>

      <div class="space-y-6">
        {
          articles.map((article) => (
            <Article
              title={article.title}
              summary={article.summary}
              date={article.date.toISOString()}
            />
          ))
        }
      </div>
    </section>
  </body>
</html>
